BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Attach
IndentCaseLabels: true
SpacesBeforeTrailingComments: 2
Standard: Cpp11
